<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteRule ^ index.php [L]

    # Handle HTTP authorization headers
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle CORS (Cross-Origin Resource Sharing)
    <IfModule mod_headers.c>
        SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
    </IfModule>

    # Handle HTTPS redirection
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<IfModule mod_headers.c>
    # Prevent MIME type sniffing
    Header set X-Content-Type-Options "nosniff"

    # Enable XSS protection
    Header set X-XSS-Protection "1; mode=block"
</IfModule>

# Disable server signature
ServerSignature Off
