:root {
    scroll-behavior: smooth;
}
/* width */
/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*    background: #000000;*/

/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*    background: rgb(220, 53, 69);*/

/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: rgba(220, 53, 69, 0.81);*/
/*}*/

#homePageCover{
    background-image: url("../images/home_covers/1.jpg");
    background-position: top;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed ;
}

.nav-link{
    display: inline-block;
    position: relative;
    color: #ffffff;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left:0;
    background-color: rgb(220, 53, 69);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left:0;

    background-color: rgb(220, 53, 69);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin:  left;
}

.card.hoverable{
    transition: 0.4s ease;
    cursor: pointer;
}

.card.hoverable:hover{
    transform: scale(1.02);
}

.card .card-footer.custom{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1rem;
}



#brands-scroll::-webkit-scrollbar {

    height: 10px;
}

/* Track */
#brands-scroll::-webkit-scrollbar-track {
    background: rgba(111, 111, 111, 0.53);
    border-radius: 10px;
}

/* Handle */
#brands-scroll::-webkit-scrollbar-thumb {
    background: rgb(151, 4, 4);
    border-radius: 10px;
}

/* Handle on hover */
#brands-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(151, 4, 4, 0.66);
}

@media only screen and (max-width: 767px) {
    /*#brands-scroll::-webkit-scrollbar {*/
    /*    display: none;*/
    /*}*/
    .card .card-footer.custom{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        font-size: 0.7rem;
    }
}
