/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(220, 53, 69);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #212529;
}

#homePageCover{
    background-image: url("../images/home_covers/3.jpg");
    background-position: top;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed ;
}

.nav-link{
    display: inline-block;
    position: relative;
    color: #ffffff;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left:0;

    background-color: rgb(220, 53, 69);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin:  left;
}

.card{
    transition: 0.4s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}
